#partners-section {
  padding: 8rem 2rem;
  background-color: #fff;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #1a202c;
  margin-bottom: 6.4rem;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .partners-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.partner-logo-wrapper {
  display: flex;
  justify-content: center;
  transition: transform 1s ease-out, opacity 1s ease-out;
  opacity: 1;
  transform: translateY(0);
}

.partner-logo {
  height: 4.8rem;
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.partner-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.featured-categories {
  padding: 6rem 1rem;
  position: relative;
  overflow: hidden;
}

.feature {
  color: #222222;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.feature-tertiary {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 5.2rem;
  font-weight: 300;
  color: #777777;
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.category-button {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  text-align: left;
  transition: all 0.7s ease;
  transform: translateY(0);
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.category-button:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.icon-container {
  background-color: #ecfdf5;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
  color: rgb(22, 163, 74);
}

.icon-container svg {
  width: 2.4rem;
  height: 2.4rem;
}

.category-button:hover .icon-container {
  background-color: #d1fae5;
}

.category-button h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 0.75rem;
}

.category-button p {
  color: #4b5563;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

.view-products {
  display: inline-flex;
  align-items: center;
  color: #16a34a;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.category-button:hover .view-products {
  color: #15803d;
}

.view-products svg {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease;
}

.category-button:hover .view-products svg {
  transform: translateX(4px);
}

/* Product */
/* General Section Styling */
#products {
  padding: 6rem 1rem;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  margin-bottom: 4rem;
}

.text-center h2 {
  color: #222222;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.text-center p {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 300;
  color: #222;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 3rem;
}

.filter-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #f3f4f6;
  color: #374151;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.filter-btn:hover {
  background-color: #e5e7eb;
  transform: scale(1.05);
}

.filter-btn.active {
  background-color: #16a34a;
  color: white;
  box-shadow: 0 10px 15px -3px rgba(34, 197, 94, 0.5);
  transform: scale(1.05);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.product-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.096);
  overflow: hidden;
  transition: all 0.3s ease;
  transform: translateY(0);
}

.product-card.hidden {
  display: none;
}

.product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: transform 0.5s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #16a34a;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 500;
}

.content {
  padding: 1.5rem;
}

.content h3 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #1f2937da;
  margin-bottom: 3rem;
  transition: color 0.3s ease;
}

.product-card:hover h3 {
  color: #16a34a;
}

.content p {
  color: #4b5563;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.price-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-btn {
  font-size: 1.3rem;
  background-color: #f3f4f6;
  color: #374151;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: none;
  text-decoration: none;
}

.details-btn:hover {
  background-color: #16a34a;
  color: white;
  transform: scale(1.05);
}

.about-section {
  padding: 8rem 2rem;
  background-color: #f9fafb;
  position: relative;
  overflow: hidden;
}

.about-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, white, transparent);
  z-index: 0;
}

.about-gap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.text-center {
  text-align: center;
  margin-bottom: 6rem;
}

.text-center h2 {
  font-size: 3.3rem;
  font-weight: bold;
  color: #2d3748;
  margin-bottom: 1.6rem;
}

.text-center p {
  color: #718096;
  max-width: 60rem;
  margin: 0 auto;
}

.text-lg {
  font-size: 1.7rem;
  color: #222;
  line-height: 1.7;
  font-weight: normal;
}

.highlight-box {
  background: white;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.highlight-box:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.highlight-grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  align-items: center;
}

.stat {
  text-align: center;
}

.stat-number {
  font-size: 2.4rem;
  font-weight: 500;
  color: #16a34a;
  margin-bottom: 8px;
}

.icon-box {
  background: #f9fafb;
  border-radius: 1.6rem;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.sun-icon svg {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #facc15;
}

.green-icon svg {
  width: 3rem;
  height: 3rem;
  color: #10b981;
  display: inline-block;
}

.about-feature {
  background: white;
  padding: 2.4rem;
  border-radius: 1.6rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.about-feature:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.about-feature h3 {
  font-size: 2rem;
  font-weight: normal;
  color: #2d3748;
  margin-bottom: 8px;
}

.about-feature p {
  color: #718096;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.7;
}

.testimonial {
  background: white;
  padding: 3.2rem;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.testimonial:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.testimonial p {
  color: #718096;
  font-style: italic;
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.author {
  font-weight: normal;
  color: #2d3748;
  font-size: 1.5rem;
}

.role {
  color: #16a34a;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.star-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.star-icon {
  width: 1.25rem;
  height: 1.25rem;
  stroke: currentColor;
  color: #facc15;
  fill: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.border-btm {
  border: 0.5px solid #22222231;
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #1f2937;
  color: #ffffff;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.footer-heading {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.footer-text {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #d1d5db;
  margin: 0.5rem 0;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.social-link {
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.3s;
}

.social-link:hover {
  color: #ffffff;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.footer-bottom {
  border-top: 1px solid #374151;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: #d1d5db;
}

.footer-logo {
  width: 12rem;
  margin-bottom: 3rem;
}
